/* ===== 디자인 토큰 정의 ===== */

:root {
  /* ===== Breakpoints ===== */
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  /* ===== Device ===== */
  --device: mobile;

  /* ===== Text Sizes ===== */
  --text-2xs: 0.688rem;
  --text-2xs--line-height: calc(1 / 0.688);
  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);

  @media screen and (width >= 48rem) {
    --device: tablet;
  }
  @media screen and (width >= 80rem) {
    --device: desktop;
  }
}

html {
  font-size: 14px;
  @media screen and (width >= 48rem) {
    font-size: 15px;
  }
  @media screen and (width >= 80rem) {
    font-size: 16px;
  }
}
