/* ===== Tailwind Theme 타이포그래피/폰트 설정 ===== */
@theme {
  --font-family-quicksand: var(--quicksand);
  --font-family-noto-sans-kr: var(--noto-sans-kr);
  --font-family-kalam: var(--kalam);
  --font-family-gowun-batang: var(--gowun-batang);

  --text-2xs: var(--text-2xs);
  --text-2xs--line-height: var(--text-2xs--line-height);
  --text-xs: var(--text-xs);
  --text-xs--line-height: var(--text-xs--line-height);
  --text-sm: var(--text-sm);
  --text-sm--line-height: var(--text-sm--line-height);
  --text-base: var(--text-base);
  --text-base--line-height: var(--text-base--line-height);
  --text-lg: var(--text-lg);
  --text-lg--line-height: var(--text-lg--line-height);
  --text-xl: var(--text-xl);
  --text-xl--line-height: var(--text-xl--line-height);
  --text-2xl: var(--text-2xl);
  --text-2xl--line-height: var(--text-2xl--line-height);
  --text-3xl: var(--text-3xl);
  --text-3xl--line-height: var(--text-3xl--line-height);
  --text-4xl: var(--text-4xl);
  --text-4xl--line-height: var(--text-4xl--line-height);
}
